<mat-toolbar class="topToolbar">
  <mat-toolbar-row >
    <mat-icon class="icon" aria-hidden="false" aria-label="hamburger menu"
      (click)="drawer.toggle()"
    >menu</mat-icon>

    <span class="title">{{title}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer mode="over" class="drawerContent">
    <app-menu (selectedMenu)="drawer.close()" ></app-menu>
  </mat-drawer>
  <div class="drawerContainer">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
<app-loading-spinner></app-loading-spinner>
